<h1>Editing <%=@refreshes.device_name %> </h1>

<%= form_for @refreshes do |f| %>

<br><b><%="Name of Device:  "%></b><%=f.text_field :device_name %>

<br><b><%="Model of Device: "%></b><%=f.text_field :device_model %>

<br><b><%="Type of Device: "%></b><%=f.select(:device_type,[['Phone'],['Tablet'],['Laptop'],['Other']]) %>

<br><b><%="Price of original device: "%></b><%=f.number_field :original_price, :step => "0.01" %>
<br><b><%="Start Date: "%></b><%=f.text_field :start_date,"data-provide"=>'datepicker'%>


<br><b><%="Expiry Date: "%></b><%=f.text_field :expiry_date,"data-provide"=>'datepicker'%>
<br><b><%="User ID: "%></b><%=f.text_field :user_id %>
<br><%=f.submit "Change" %>


<%= link_to('Delete this record', @refreshes,
             { :confirm => 'Are you sure?', :method => :delete }) %>
<% end %>
