<h1>Refreshes#index</h1>
<p>Find me in app/views/refreshes/index.html.erb</p>
<%= link_to "Advanced Search", new_search_path %>
<%= "📱"%> <%="💻"%> <%="⌨"%> <%="🖥" %>

<% @refrehes.each do |n| %>
	<li> <%= link_to "#{n.device_name}",refresh_path(n) %> <%=  " | " + n.device_type %>
	<%= link_to "edit", edit_refresh_path(n) %>
	<%= link_to "show",refresh_path(n) %>
	<%= link_to "#{n.user.first_name}",user_path(n.user_id) %>
	</li>
<% end %>
